* {
  margin: 0%;
  padding: 0%;
}

.heading {
  text-align: center;
  padding-top: 1rem;
  background-color: pink;
  text-decoration: underline double black;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input-items {
  width: auto;
}

.list-items {
  width: 800px;
  height: auto;
}

div {
  height: auto;
  width: auto;
}

.list {
  width: 800px;
  height: 25px;
  border: 1px solid black;
  border-radius: 12px;
  /* box-sizing: border-box; */
  padding-left: 9px;
  background-color: rgb(226, 223, 223);
}

.add {
  margin-left: 1rem;
  width: 5rem;
  height: 1.7rem;
  border-radius: 0.75rem;
  background-color: rgb(65, 187, 65);
}

.red {
  margin-left: 1rem;
  width: 5rem;
  height: 1.7rem;
  border-radius: 0.75rem;
  background-color: rgb(255, 0, 0);
  color: #fff;
}
